.counter {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  padding: 1px;
  font-size: 6px;
  line-height: 7px;
  text-align: center;
  color: $color-white;
  background: $color-grey-900;
  border-radius: 50%;
  box-sizing: border-box;
}
