.page-footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 108px 100px 118px;
}

.page-footer__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 380px 386px 1fr;
}

.page-footer__wrapper::after {
  position: absolute;
  width: 116px;
  height: 116px;
  content: url("../img/pattern.png");
  bottom: -50px;
  right: 600px;
  z-index: 1;
}

.page-footer__button {
  display: block;
  grid-column: 1/2;
  width: 58px;
  height: 79px;
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-white;
  border: 2px solid $color-brown;
  border-radius: 45%;
}

.page-footer__button:hover {
  opacity: 0.8;
}

.page-footer__button:focus {
  opacity: 0.5;
}

.page-footer__button:active {
  opacity: 0.5;
}
