$color-white: #ffffff;
$color-grey-900: #050215;
$color-dark-brown: #756257;
$color-brown: #b4977b;
$color-light-brown: #e4d6c9;
$color-light-grey: #e5e5e5;

$main-regular-font: "Arial", sans-serif;
$added-regular-font: "Barlow", "Arial", sans-serif;
