@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/barlow-500.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/barlow-600.woff2") format("woff2");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0 auto;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    width: 1920px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color:#050215;
    background-color: #FFFFFF;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .button {
    display: inline-block;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    line-height: 33px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background-color: #B4977B;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0;
  }

  /* header */

  .page-header {
    width: 1920px;
  }

  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 50px;
    align-items: center;
  }

  /*.main-nav {
    width: 405px;
    margin: 0 auto;
    padding: 0 160px;
    box-sizing: border-box;
  }*/

  .main-nav__logo {
    grid-column: 1/2;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
  }

  .main-nav__list {
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .main-nav__user-list {
    grid-column: 4/5;
    align-items: center;
  }

  .site-list__item {
    margin-left: 20px;
  }

  .site-list__link {
    display: block;
    padding-top: 7px;
    padding-left: 13px;
    padding-bottom: 9px;
    padding-right: 13px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #050215;
    text-decoration: none;
  }

  .site-list__link--current {  
    display: block;               /* ????????*/
    padding-top: 7px;
    padding-left: 13px;
    padding-bottom: 9px;
    padding-right: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #B4977B;
  }

  /* content */

  .content-container {
    display: grid;
    grid-template-columns: 300px 517px 1fr;
    column-gap: 133px;
    margin-bottom: 163px;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 162px;
  }

  .content__heading {
    font-size: 64px;
    line-height: 77px;
    margin: 0;
  }

  .content__text {
    margin-bottom: 40px;
    padding: 0;
    color: #050215;
    line-height: 32px;
    opacity: 0.75;
  }

  .content__image {
    z-index: 1;
    grid-column: 2/3;
    display: block;
    margin-top: -180px;
    width: 517px;
    height: auto;
    background-color: #B4977B;
  }

  .content__button {
    width: 178px;
    height: 60px;
    padding: 14px 30px;
    border-radius: 35px;
  }

  /* pagination*/

  .pagination {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    list-style-type: none;
  }

  .pagination__wrapper {
    padding: 200px 118px 80px 118px;
  }

  .pagination__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .pagination__link {
    display: block;
    font-size: 54px;
    line-height: 65px;
    font-weight: 500;
    color: #E4D6C9;
    text-align: center;
    text-decoration: none;
  }

  .pagination__link--current {
    color: #B4977B;
  }


  /* footer */

  .page-footer {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 380px 386px 1fr;
    min-height: 150px;
    padding: 0 118px;
  }

  .page-footer__button {
    grid-column: 1/2;
    display: block;
    width: 58px;
    height: 79px;
    background-color: #FFFFFF;
    border: 2px solid #B4977B;
    border-radius: 45%;
  }

  .social-list {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 386px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
  }

  .social-list__link {
    color: #050215;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
  }

  .pages-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }