@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-600.woff2") format("woff2");
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0 auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color:#050215;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 33px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #B4977B;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
}

/* header */

.page-header {
  width: 1920px;
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: 300px 517px 1fr 30px;
  column-gap: 65px;
  padding: 61px 163px 0 101px;
  align-items: center;
}

/*.main-nav {
  width: 405px;
  margin: 0 auto;
  padding: 0 160px;
  box-sizing: border-box;
}*/

.main-nav__logo {
  grid-column: 1/2;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.main-nav__list {
  grid-column: 3/4;
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__user-block {
  grid-column: 4/5;
  align-items: center;
}

.site-list__item {
  margin-left: 20px;
}

.site-list__link {
  display: block;
  padding-top: 7px;
  padding-left: 13px;
  padding-bottom: 9px;
  padding-right: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #050215;
  text-decoration: none;
}

.site-list__link:hover,
.site-list__link:focus,
.site-list__link:active  {
color: #B4977B;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--current {  
  display: block;               /* ????????*/
  padding-top: 7px;
  padding-left: 13px;
  padding-bottom: 9px;
  padding-right: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #B4977B;
}

.user-block__user-link {
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
}

.user-block__user-link:hover .user-icon {
  fill: #756257;
}

.user-block__user-link:focus {
  fill: #756257;
  border-radius: 8px;
}

.user-block__user-link:active {
  fill: #756257;
  opacity: 0.3;
}

.user-block__item {
  margin: auto;
  fill: #050215;
}

.user-block {
  position: relative;
  margin-right: 35px;
}

.counter {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  padding: 1px;
  font-size: 6px;
  line-height: 7px;
  text-align: center;
  color: #FFFFFF;
  background: #050215;
  border-radius: 50%;
  box-sizing: border-box;
}

/* content */

.content-container {
  position: relative;
  display: grid;
  grid-template-columns: 300px 517px 1fr;
  column-gap: 133px;
  margin-bottom: 15px;
}

.content-container::after {
  position: absolute;
  content: "";
  content: url("../img/rectangle.png");
  bottom: 45px;
  left: 433px;
  z-index: 1;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 165px;
}

.content__heading {
  position: relative;
  font-size: 64px;
  line-height: 77px;
  margin: 0;
}

.content__heading::after {
  position: absolute;
  width: 116px;
  height: 116px;
  content: url("../img/pattern.png");
  top: -20px;
  right: -215px;
  z-index: 1;
}

.content__text {
  position: relative;
  margin-bottom: 40px;
  padding: 0;
  color: #050215;
  line-height: 32px;
  opacity: 0.75;
}

.content__text::after {
  position: absolute;
  content: "";
  width: 116px;
  height: 116px;
  content: url("../img/pattern.png");
  top: 170px;
  left: 380px;
  z-index: 1;
}

.content__image {
  z-index: 1;
  grid-column: 2/3;
  display: block;
  margin-top: -180px;
  width: 517px;
  height: auto;
  background-color: #B4977B;
}

.image__text {
  position: absolute;
  content: "";
  left: 540px;
  bottom: 65px;
  z-index: 2;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.content__button {
  width: 178px;
  height: 60px;
  padding: 14px 30px;
  border-radius: 35px;
}

.content__button:hover {
  opacity: 0.8;
}

.content__button:focus {
  opacity: 0.5;
}

.content__button:active {
  opacity: 0.5;
}

/* pagination*/

.pagination {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0;
  list-style-type: none;
}

.pagination__wrapper {
  padding: 200px 118px 80px 118px;
  margin: 0;
}

.pagination__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination__list::after {
  position: absolute;
  content: "";
  top: -107px;
  bottom: -193px;
  left: 300px;
  background-color: #E5E5E5;
  width: 2px;
}

.pagination__link {
  display: block;
  font-size: 54px;
  line-height: 65px;
  font-weight: 500;
  color: #E4D6C9;
  text-align: center;
  text-decoration: none;
}

.pagination__link--current {
  color: #B4977B;
}


/* footer */

.page-footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 108px 100px 118px;
}

.page-footer__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 380px 386px 1fr;
  
}

.page-footer__wrapper::after {
  position: absolute;
  content: "";
  width: 116px;
  height: 116px;
  content: url("../img/pattern.png");
  bottom: -50px;
  right: 600px;
  z-index: 1;
}

.page-footer__button {
  display: block;
  grid-column: 1/2;
  width: 58px;
  height: 79px;
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  border: 2px solid #B4977B;
  border-radius: 45%;
}

.page-footer__button:hover {
  opacity: 0.8;
}

.page-footer__button:focus {
  opacity: 0.5;
}

.page-footer__button:active {
  opacity: 0.5;
}

.social-list {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 386px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

.social-list__link {
  color: #050215;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-decoration: none;
}

.social-list__link:hover,
.social-list__link:focus,
.social-list__link:active  {
color: #B4977B;
}

.social-list__link:active {
  opacity: 0.3;
}

.pages-list {
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}